* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    position: relative;
    border: 2px dashed black;
    height: calc( 100vh - 100px);
}
/* Navbar */
.navbar{
    background-color: black;
    flex: 0 0 200px;
    color: white;
    padding: 10px 20px;
    font-size: small;
}
.navbar-logo img{
    width: 60%;
}
.presente{
    visibility: visible;
}
.hide{
    display: none;
}
.img-setting{
    width: 18px;
    height: 18px;
    display: inline-block;
}
.navbar-menu{
    padding:5px 0;
}
.navbar-menu li{
    padding:5px 0;
}
.navbar-body{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}
h4{
    margin:10px 0;
    font-size: 15px;
    color: white;
}
.navbar-playlist ul, .navbar-header ul{
    list-style-type: none;
}
.fa-square-plus{
    font-size: 30px;
}
#crea{
    font-size: 15px;
}
.navbar-playlist li{
    padding:5px 0;
}
.navbar-install{
    display: flex;
    min-height: 100px;
    align-items: flex-end;
}
.divisore{
    border: 1px darkgrey solid;
    margin-top:20px
}
.navbar-profile{
    display: flex;
}
.navbar-last{
    margin-top: 5px;
}

/* Main */
.base{
    background-color: green;
    flex: 1 1 auto;
    border: 3px solid blue;
    overflow-y:auto;
    overflow-x: hidden;
    color: white;
}
.header-base{
    background-color: rgba(0,0,0,0.4);
    height: 50px;
    width: calc( 100% - 200px );
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;    
}
.upgrade{
    position: absolute;
    top:0;
    right: 1.5rem;
}

.navbar-base{
    margin-top:50px;
    padding:0.6em;
}
.navbar-base ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar-base li{
    margin:0 10px;
}
.navbar-base a{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    font-size: small;
}

.row{
    gap:20px;
    display: flex;
    flex-wrap: nowrap;
}
.column{
    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 180px;
    border: 1px black solid;
    align-items: center;
    justify-content: end;
    
}
/* Into Cards */
.square{
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    border: red 1px solid;
}
.square img{
    width: 100%;
}
footer{
    background-color: black;
    height: 100px;
    position: sticky;
}

@media screen and (max-width:980px){ 
    .container{
        min-width: 70%;
    }
    .navbar-base ul{
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        flex-wrap: wrap;
    }
    .column{
        display:flex;
    }
} 

@media screen and (max-width:770px){
    .row{
        flex-direction: column;
    }
    .navbar-base ul{
        width: 100%;
    }

}

@media screen and (max-width:576px){
.navbar{
    flex-basis: 50px;
}
.header-base{
    width: calc( 100% - 50px );
}
.navbar-logo{
    height: 18.79px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.hide{
    display: block;
    height: 100%;
    width: 100%;
}
.presente{
    display: none;
}
span{
    display:none;
}
.navbar-playlist{
    display: none;
}
.divisore{
    display: none;
}
.navbar-body{
    justify-content: flex-end;
}
}
