* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    position: relative;
    height: calc( 100vh - 100px);
}
.spesso{
    font-weight: 600;
}
h4{
    margin:10px 0;
    font-size: 15px;
    color: white;
}
span{
    font-size: small;
}
/* Navbar */
.navbar{
    background-color: black;
    flex: 0 0 200px;
    color: white;
    padding: 10px 20px;
    font-size: small;
    flex-grow: 1;
}
.navbar-logo img{
    width: 60%;
}
.presente{
    visibility: visible;
}
.hide{
    display: none;
}
.img-setting{
    width: 18px;
    height: 18px;
    display: inline-block;
}
.navbar-menu{
    padding:5px 0;
}
.navbar-menu li{
    padding:5px 0;
}
.navbar-body{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60%);
    justify-content: space-between;
}

.navbar-playlist{
    height: calc(100% - 80px);
    overflow-y: auto;
}
.navbar-playlist ul, .navbar-header ul{
    list-style-type: none;
}
.fa-square-plus{
    font-size: 30px;
}
#crea{
    font-size: 15px;
}
.navbar-playlist li{
    padding:5px 0;
}
.down{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.navbar-install{
    display: flex;
    align-items: flex-end;
}
.divisore{
    border: 1px darkgrey solid;
    margin-top:20px
}
.navbar-profile{
    display: flex;
}
.navbar-last{
    margin-top: 5px;
}

/* Main */
.base{
    background-color: rgba(20,25,34,255);
    flex: 1 1 auto;

    overflow-y:auto;
    overflow-x: hidden;
    color: white;
}
.header-base{
    background-color: rgba(0,0,0,0.4);
    height: 50px;
    width: calc( 100% - 200px );
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;    
}
.upgrade{
    position: absolute;
    top:0;
    right: 1.5rem;
    color:white;
    background-color:rgba(20,25,34,255);
    border: 1 white solid;
    height: 30px;
    width: 160px;
    min-width: 80px;
    padding: 5px;
    font-size: small;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar-base{
    margin-top:50px;
    padding:0.6em;
}
.navbar-base ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar-base li{
    margin:0 10px;
}
.navbar-base a{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    font-size: small;
}

.row{
    gap:20px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;
}
.column{
    display: flex;
    gap: 20px;
}
.title{
    font-size: 25px;
    padding:30px 0 25px 20px;
    font-weight: bolder;
}
.subtitle{
    font-size: 10px;
    padding:15px 0 20px 20px;
    font-weight: bolder;
}
.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: start;
    
}
/* Into Cards */
.square{
    width: 140px;
    display: flex;
}
.square img{
    width: 100%;
}
.titolo{
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    font-weight: bolder;
    height: auto;
    max-height: 7rem;
}
.autore{
    text-align: center;
    color: darkgrey;
    font-size: 11px;
}
/* Regole Footer */
footer{
    color: white;
    background-color: black;
    height: 100px;
    position: sticky;

    display: flex;
    justify-content: space-between;
}
/* Inizio Footer */
.left-bar{
    text-align: left;
    display: flex;
    flex-basis: calc(100% / 3);
    padding:25px 10px;
    justify-content: space-between;
}
.quadratino{
    width: 50px;
    display: flex;
}
.quadratino img{
    max-height: 100%;
}
.titolo-now{
    padding:10px 0 0 8px;
}
.icon-left{
    display: flex;
    align-items: center;
    color: grey;
}
.icon-left .fa-heart, .fa-folder{
    padding:0 5px;
}
.autore-now{
    padding-left: 8px;
    color: darkgrey;
}
/* Parte centrale del Footer */
.center-bar{
    width: 800px;
    padding: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
}
.container-icon{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.icon-center{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.container-bar{
    display: flex;
    justify-content: space-around;
}
.riproduction{
    align-self: center;
    position: relative;
    
    height: 5px;
    width: 20rem;
    background-color: darkgray;
    border-radius: 10px;
}
.riproduction .value{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 30%;
    max-width: 100%;
    background-color: white;
}
/* Finale del Footer */
.right-bar{
    flex-basis: calc(100% / 3);
    min-width: 70px;
    text-align: left;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
}
.icon-right{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-soundbar{
    padding:0 25px;
    width: 100%;
    align-self: center;
}
.soundbar{
    position: relative;
    height: 5px;
    background-color: darkgray;
    border-radius: 10px;
}
.soundbar .value{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 30%;
    max-width: 100%;
    background-color: white;
}

@media screen and (max-width:980px){ 
    .navbar-base ul{
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        flex-wrap: wrap;
    }
    .column{
        display:flex;
    }
} 

@media screen and (max-width:770px){
    .row{
        flex-direction: column;
    }
    .navbar-base ul{
        width: 100%;
    }

}

@media screen and (max-width:576px){
.navbar{
    flex-basis: 50px;
}
.header-base{
    width: calc( 100% - 50px );
}
.navbar-logo{
    height: 18.79px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.hide{
    display: block;
    height: 100%;
    width: 100%;
}
.presente{
    display: none;
}
span{
    display:none;
}
.navbar-playlist{
    display: none;
}
.divisore{
    display: none;
}
.navbar-body{
    justify-content: flex-end;
}
.left-bar{
    visibility: hidden;
}
.right-bar{
    visibility: hidden;
}
}
