* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: relative;
    max-width: 1800px;
    border: 2px dashed black;
    height: 90vh;
}
.navbar{
    background-color: red;
    width: 15%;
    min-height: 260px;
}
/* Main */
.base{
    background-color: green;
    width: 85%;
    border: 3px solid blue;
    overflow-y:auto;
}
.header-base{
    background-color: rgba(0,0,0,0.4);
    height: 50px;
    width: 85%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;    
}
.upgrade{
    position: absolute;
    top:0;
    right: 1.5rem;
}
.navbar-base{
    background-color: blueviolet;
    margin-top:50px;
    padding:1em;
}
.navbar-base ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-base li{
    margin:0 10px;
}

footer{
    background-color: black;
    min-height: 10vh;
    position: sticky;
}
